*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Oswald', sans-serif;
  background-color: #dde1e7;
}

.nav-bar {
  display: flex;
  width: 90%;
  margin: 1rem auto 0;
  border-radius: 1rem;
  height: 8rem;
  justify-content: space-between;
  background: #dde1e7;
  box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73,
              0.3rem 0.3rem 0.5rem rgba(94,104,121,0.288);
}

.nav__list {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.nav__list img {
  width: 8.5%;
  margin-left: 2rem;
}

.nav__list-container {
display: flex;
}

.nav__list-container li {
  margin: 0 0.5rem;
  list-style: none;
}

.nav__list-container li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: darkolivegreen;
  padding: 1rem 1.5rem;
  box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73,
              0.3rem 0.3rem 0.5rem rgba(94,104,121,0.288);
  border-radius: 0.5rem;
}

.nav__list-container li a:hover {
  box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73, inset 0.3rem 0.3rem 0.5rem rgba(94,104,121,0.288);
  /* box-shadow: inset -0.7rem -0.7rem 2rem 0 rgba(255, 255, 255,0.7), inset 0.7rem 0.7rem 0.2rem 0 rgba(0, 0, 0, 0.2); */
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #dde1e7;
  width: 40%;
  border-radius: 1rem;
}

.icons{
  display: flex;
  margin: 0.5rem 0;
}

.nav__list-social {
  position: relative;
  list-style: none;
  height: 5rem;
  width: 5rem;
  margin: 0 1rem;
  border-radius: 50%;
  background: #dde1e7;
  cursor: pointer;
  box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73,
              0.3rem 0.3rem 0.5rem rgba(94,104,121,0.288);
}

.nav__list-social a{
  line-height: 5rem;
  font-size: 2rem;
  color: black;
}

.second .nav__list-social.shadow-2 a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5.5rem;
  width: 5.5rem;
  line-height: 55px;
  border-radius: 50%;
  background: #dde1e7;
  font-size: 2.4rem;
  box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73,
              inset 0.3rem 0.3rem 0.5rem rgba(94, 104, 121, 0.288);
}

.nav__list-social:nth-child(1).fill-color a{
  color: #4267B2;
}

.nav__list-social:nth-child(2).fill-color a{
  color: #1DA1F2;
}

.nav__list-social:nth-child(3).fill-color a{
  color: #E1306C;
}

.nav__list-social:nth-child(4).fill-color a{
  color: #333;
}
